<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
         {{>header}}

        
        



                 
		<div class="left"><img class='image1' src="/img/bharat.jpg">
        <pre>
         <b>Bharat Saini
         CSE 3rd year 
  Chitkara University, Punjab</b>
        </pre></div>
		<div class="right"><img class='image2' src="/img/bhuvan.png">
         <pre>
         <b>Bhuvan Chadda
         CSE 3rd year 
  Chitkara University, Punjab</b>
        </pre></div>
	</div>



        </div>
         
        {{>footer}}
    </body>
       
</html>
