<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
         <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            {{>header}}
            <br>
            <p>In case of any issues Contact us.</p>
            <p>Email: bharatsinghsaini00@gmail.com </p>
        </div>
        
        
        {{>footer}}
    </body> 
    
</html>