body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main {
    flex-grow: 1;
}

footer {
    color: #dd2222;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;

}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 20px;
    text-decoration: none;

}

.image1 {
    width: 200px;
}
.image2 {
    width: 230px;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}











div.wrapper {
    position: relative;
    clear: both;
    width: 90%;
    border : 1px solid #000000;
    }
    div.left {
    float: left;
    width: 35.5%;
    height: 202px;
    background: #ffffff;
    border : 1px solid #000006;

    }	
    div.right {
    float: right;
    width: 35.5%;
    height: 202px;
    background: #ffffff;
    border : 1px solid #000001;
    }
